/node_modules
/public/hot
/public/storage
/public/css
/public/fonts
/public/images
/public/js
/storage/*.key
/storage/medialibrary
/vendor
.htaccess
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/images/user_avatars
/images/user_gallery
/images/activity_images
/images/avatars
/images/user_group_photos
/images/user_post_images
/images/user_covers
/images/vendor
/media
/storage/medialibrary/temp
/storage/logs
/storage/framework/cache
error_log.php
